
<h1>Twoje zamówienie</h1>

<%= render @order %>

<div>
  <%= button_to "Usuń zamówienie", @order, method: :delete %>
  <%= link_to "Edytuj zamówienie", edit_order_path(@order) %><br> |
  <%= link_to "Wróć do listy zamówień", orders_path %><br>

  <%= link_to "Wróć do listy produktów", products_path %>
</div>
