<!DOCTYPE html>
<html>
  <head>
    <title>Shop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <title>FoodWorks - <%= controller.action_name %></title>
  </head>

  <body>
    <div class="wrapper">
        <div class="header">
          <h1>Spożywczak</h1>
          <nav>
          <% if user_signed_in? %>
          <%= link_to 'Lista produktów', products_path, class: "nav-link" %>
          <%= link_to 'Zamówienia', orders_path, class: "nav-link" %>
          
          <%= button_to 'Wyloguj', destroy_user_session_path, method: :delete, class: "nav-link" %>

          <% else %>
          <%= link_to 'Zaloguj', new_user_session_path, class: "nav-link" %>
          <%= link_to 'Rejestracja', new_user_registration_path, class: "nav-link" %>
          <% end %>
          </nav>
        </div>

        <% if notice %><p style="color:green"><%= notice %></p><% end %>
        <% if alert %><p style="color:red"><%= alert %></p><% end %>

        <div class="sidebar">
          (sidebar)
        </div>
    
      <div class="main">
          <%= yield %>
      </div>

      <div class="footer">
        FoodWorks - Online Shop <br>
        Rails Tutorial
      </div>
      
    </div>
  </body>
</html>
